.paragraph {
    color: var(--main-color);
    font-size: 28px;
    width: 1200px;
    position: relative;
    line-height: 40px;
    user-select: none;
}

.correct {
    color: var(--correct-color);
}

.wrong {
    color: var(--wrong-color);
}